
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #D9E5E6;
    font-family: 'Courier New', sans-serif;
}

header {
    width: 100%;
    background: url("https://raw.githubusercontent.com/turbomoisty/okay_Bloomer/8e31ce19f4045a22fc3853f4a3819d390bf362d0/OB/images/obhomepage3.jpeg") no-repeat center top;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh; /* Adjust height as needed */
}

header::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(29, 86, 49, 0.89);  /* Adjust the color and transparency here */
   z-index: 1; /* Ensure the overlay is above the background image but below the content */
   pointer-events: none; /* Prevent overlay from interfering with interactions */
}

.header-text {
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 2;
    width: 80%;
    padding-top: 20px;
}

.header-text h1 {
    font-size: 6vw; /* Adjust to be responsive */
    font-family: 'Canela-Regular', serif;
    margin: 0;
}

.header-text p {
    font-size: 2vw; /* Adjust to be responsive */
    font-family: 'Canela-Regular', serif;
    margin-top: 20px;
}

nav {
    box-sizing: border-box;
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 40px;
    transition: background-color 0.5s ease-in-out;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul.nav-left {
    justify-content: flex-start;
    flex-grow: 1;
}

nav ul.nav-right {
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: Nib, serif;
    font-weight: 400;
    line-height: 2;
    font-size: 1.5vw; /* Adjust to be responsive */
    position: relative;
}

h1 {
    font-size: 120px;
    text-align: center;
	-webkit-text-stroke: 3px black;
	-webkit-text-fill-color: rgba(255,255,255,.8);

}

.parallax-1{
    height: 400px;
    background: url('https://raw.githubusercontent.com/turbomoisty/okay_Bloomer/cfba941f4f571184aa714ac1149c406c69a97960/OB/images/woman_loves_plants.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.parallax-2{
    height: 400px;
    background: url('https://raw.githubusercontent.com/turbomoisty/okay_Bloomer/ccba77281ba023360f1a336cc02781630fb350f0/OB/images/randowaoman.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    }

.parallax-inner{
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #02ef;


}

h2 {
    font-size: 32px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;

}

p {
    font-size: 16px;
    color: #555;
    text-align: justify;
    line-height: 30px;
    margin: 0 50px 40px;
}

p:nth-of-type(1),
p:nth-of-type(2), {
    margin: 40px 50px;}
