body {
    font-family: 'Courier New', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 50vh;
    margin: 0;
    padding: 0;
    border: 0;
}

header::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(29, 86, 49, 0.89);
   z-index: 1;
   pointer-events: none;
}

.header-text-about-us {
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 2;
    width: 80%;
    padding-top: 40px;
}


header {
    width: 100%;
    background: url("") no-repeat center top;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh; /* Adjust height as needed */
}

header::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(29, 86, 49, 0.89);  /* Adjust the color and transparency here */
   z-index: 1; /* Ensure the overlay is above the background image but below the content */
   pointer-events: none; /* Prevent overlay from interfering with interactions */
}

.header-text {
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 2;
    width: 80%;
    padding-top: 20px;
}

.header-text h1 {
    font-size: 6vw; /* Adjust to be responsive */

    font-family: 'Canela-Regular', serif;
    margin: 0;
}



nav {
    box-sizing: border-box;
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 40px;
    transition: background-color 0.5s ease-in-out;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul.nav-left {
    justify-content: flex-start;
    flex-grow: 1;
}

nav ul.nav-right {
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: Nib, serif;
    font-weight: 400;
    line-height: 2;

    font-size: 1.5vw;
    position: relative;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.about-us {
    width: 100%;
    padding: 80px;
    background-color: RGB(255, 255, 255);
    text-align: left;
    display: flex;
    justify-content: center;
}

.about-us-team {
    max-width: 800px;
    margin: 20px 0;

}

.about-us h1 {
    font-size: 3em;
    font-family: 'Canela-Regular', serif;
    margin-bottom: 20px;
}

.about-us h2 {
    font-size: 2.5em;
    font-family: 'Canela-Regular', serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-us h3 {
    font-size: 2.5em;
    font-family: 'Canela-Regular', serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 2em;
    font-family: 'Canela-Regular', serif;
    margin-bottom: 20px;
}

.about-us img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center; /* Ensure the footer itself is centered */
}

.footer-content {
    max-width: 1200px;
    font-family: 'Canela-Regular', serif;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Center the content within the footer */
    align-items: center;
    padding: 20px 0;
}


.footer-bottom {
    font-family: 'Canela-Regular', serif;
    font-size: 1.8em;
    text-align: center;
    width: 100%;
    margin-bottom: 5px; /* Adjust this value to move the text closer to the line */
}

.footer-end {
    width: 100%;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    font-family: 'Canela-Regular', serif;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text inside this element */
    box-sizing: border-box;
    text-align: center;
}

.footer-end p {
    margin: 10px 0;
    font-size: 11.5em;
}

.line-in-middle {
    width: 100%;
    height: 1px;
    margin: 20px auto;
    box-sizing: border-box;
}

.scrolled {
    background-color: rgba(255, 255, 255, 1);
}

nav.scrolled ul li a {
    color: black !important;
}

nav.scrolled ul li a:hover {
    color: #406D1C !important;
    text-decoration: underline !important;
}

nav.scrolled ul li a.no-underline:hover {
    text-decoration: none !important;
}

nav.scrolled ul li a.no-color-change, nav.scrolled ul li a.no-color-change:hover {
    color: black !important;
}

@media (max-width: 1200px) {
    .header-text h1 {
        font-size: 5vw;
    }
    .header-text p {
        font-size: 2vw;
    }
    .about-us h
