
body {
   font-family: 'Courier New', sans-serif;
   color: #333;
   margin: 0;
   padding: 0;
   background-color: #f5f5f5;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   overflow-x: hidden;
}
header {
   width: 100%;
   background: url("/static/images/obhomepage3.jpg") no-repeat center top;
   background-size: cover; /* Ensure the image fits within the header without cropping */
   text-align: center; /* Center the text */
   display: flex;
   flex-direction: column; /* Ensure elements are stacked vertically */
   justify-content: center;
   color: white;
   position: relative;
   z-index: 1;
   overflow: hidden; /* Allow the header to expand */
   height: 60vh; /* Adjust this value to change the header height */
}
header::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(29, 86, 49, 0.89);  /* Adjust the color and transparency here */
   z-index: 1; /* Ensure the overlay is above the background image but below the content */
   pointer-events: none; /* Prevent overlay from interfering with interactions */
}
.header-text {
   position: relative;
   margin: auto;
   text-align: center;
   color: white;
   z-index: 2; /* Ensure it appears above the overlay */
   width: 80%; /* Adjust to make sure the text doesn't overflow */
   padding-top: 20px; /* Adjust this value to set the space from the top (navbar) */
}
.header-text h1 {
   font-size: 15em;
   font-family: 'Canela-Regular', serif;
   margin: 0;
}
.header-text p {
   font-size: 4em; /* Adjust to match the size in the image */
   font-family: 'Canela-Regular', serif;
   margin-top: 20px;
}
nav {
   background-color: transparent; /* Initially transparent */
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
   display: flex;
   justify-content: space-between; /* Space between elements */
   align-items: center;
   padding: 2px 40px;
   transition: background-color 0.5s ease-in-out; /* Smooth transition */
}
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   flex-wrap: wrap; /* Allow items to wrap if needed */
}
nav ul.nav-left {
   justify-content: flex-start;
   flex-grow: 1;
}
nav ul.nav-right {
   justify-content: flex-end;
   flex-grow: 1;
}
nav ul li {
   display: flex;
   align-items: center;
}
nav ul li a {
   display: inline-block;
   color: rgba(255, 255, 255, 1); /* White color */
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: all 0.3s ease; /* Smooth transition for all properties */
   font-family: Nib, serif; /* Ensure this line is here */
   font-weight: 400; /* Ensure consistent font weight */
   line-height: 2;
   font-size: 20px; /* Adjust this value to your desired font size */
   position: relative; /* Needed for pseudo-element positioning */
}
nav ul li a:hover {
   color: rgba(255, 255, 255, 1); /* Ensure white color on hover */
   text-decoration: underline; /* Add underline on hover */
}
.no-underline:hover {
   text-decoration: none; /* Remove underline on hover for this class */
}
.no-color-change:hover {
   color: white !important; /* Keep the color black on hover for this class */
}
.special-font {
   font-size: 25px; /* Change this to your desired font size */
}
main {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; /* Center the content horizontally */
   height: 100vh; /* Full screen size */
   padding: 20px; /* Add padding to the main content */
}
.intro-text {
   position: relative; /* Make it relative to contain the absolute positioned SVG */
   text-align: left;
   max-width: 800px; /* Set a maximum width for the text block */
   margin: 20px 0; /* Center the text block with margin */
   padding: 100px; /* Add padding */
   height: 100vh; /* Full screen size */
}
.intro-text .intro-heading {
   font-size: 1.5em;
   font-family: 'Canela-Regular', serif;
   margin: 20px 0;
}
.intro-text .intro-subheading {
   font-size: 4em;
   font-family: 'Canela-Regular', serif;
   font-weight: normal; /* Ensure text is not bold */
   margin: 20px 0;
}
.intro-text .intro-description {
   font-size: 4em; /* Adjust to your desired size */
   font-family: 'Canela-Regular', serif;
   margin: 20px 0;
}
.intro-text button {
   font-size: 1.5em;
   padding: 15px 30px;
   border: 2px solid #000; /* Border color */
   background-color: rgba(255, 255, 255); /* Button background color */
   color: rgba(0, 0, 0); /* Button text color */
   border-radius: 10px; /* Rounded corners */
   cursor: pointer;
   transition: all 0.3s ease;
   box-sizing: border-box; /* Add this line */
}
.intro-text button:hover {
   background-color: rgba(0, 0, 0); /* Button hover background color */
   color: white;
}
.services {
  background-color: RGB(16, 51, 31); /* Background color for the services section */
  color: rgba(255, 255, 255); /* Text color for the services section */
  width: 100%; /* Full width */
  padding: 80px; /* Add padding */
  height: 100vh; /* Full screen size */
}
.services-title {
  font-size: 4em;
  font-family: 'Canela-Regular', serif;
  margin-bottom: 40px; /* Space below the title */
  font-weight: normal; /* Ensure text is not bold */
  padding: 0 20px; /* Padding on the left and right */
  margin-top: -20px; /* Move the title up */
  margin-left: 115px; /* Adjusted margin to align with .services-title */
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 40px; /* Gap between grid items */
  max-width: 1200px; /* Maximum width of the grid */
  width: 100%; /* Full width of the grid within the max-width constraint */
  padding: 0 20px; /* Padding on the left and right */
  margin-left: 115px; /* Adjusted margin to align with .services-title */
}
.service-block {
  background-color: transparent; /* Background color for service blocks */
  padding: 20px;
  position: relative; /* Required for the ::after positioning */
}
.service-block h3 {
  font-size: 1.8em;
  font-family: 'Canela-Regular', serif;
  margin-bottom: 20px;
  font-weight: normal; /* Ensure text is not bold */
}
.service-block p {
  font-size: 1.2em;
  font-family: 'Courier New', sans-serif;
  line-height: 1.5;
  font-weight: normal; /* Ensure text is not bold */
}
.service-block::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5); /* Line color */
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Additional CSS for OUR SERVICES button */
.services-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
}
.services-button {
    font-size: 1.5em;
    padding: 15px 30px;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services-button:hover {
    background-color: rgba(0, 0, 0);
    color: white;
}
.mission {
    display: flex;
   /* justify-content: center;
    align-items: center;*/
    flex-direction: column; /* Adjusted to column to ensure vertical alignment */
    width: 100%;
    height: 150vh; /* Ensure the section takes the full height */
    background-color: rgba(200, 215, 201, 1); /* Background color */
    margin-bottom: 100px; /* Adjust this value to ensure space for the marquee */
    padding: 20px; /* Added padding */
    justify-content: space-between;
}
.mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-bottom: 100px; /* Ensure space between content and marquee */
}
.mission-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
    padding-right: 20px;
}
.mission-text p {
    font-size: 1.2em;
    font-family: 'Courier New', sans-serif;
    margin-bottom: 10px;
}
.mission-text h2 {
    font-size: 2.5em;
    font-family: 'Canela-Regular', serif;
    margin-bottom: 20px;
}
.mission-text button {
    font-size: 1.5em;
    padding: 15px 30px;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.mission-text button:hover {
    background-color: rgba(0, 0, 0);
    color: white;
}
.mission-image {
    flex: 1;
    max-width: 50%;
}
.mission-image img {
    display: block;
    width: 100%;
    height: auto;
}
.marquee-container {
    width: 100%; /* Ensure the container spans the full width of the page */
    overflow: hidden;
    background-color: transparent;
    margin-top: auto; /* Automatically push the container to the bottom */
    margin-bottom: 0; /* Add space below the marquee if needed */
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center the content horizontally */
    position: relative; /* Added to use position absolute for the marquee */
}
.marquee {
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 5s linear infinite alternate; /* Adjust the duration here */
    font-size: 120px;
    color: rgba(0, 0, 0);
    width: 100%;
}
.marquee-reverse-container {
    width: 100%; /* Ensure the container spans the full width of the page */
    overflow: hidden;
    background-color: transparent;
    margin-top: -20px; /* Reduce space above the marquee, adjust as needed */
    margin-bottom: 0; /* Reduce space below the marquee */
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center the content horizontally */
    position: relative; /* Added to use position absolute for the marquee */
}
.marquee-reverse {
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee-reverse 5s linear infinite alternate; /* Adjust the duration here */
    font-size: 120px; /* Adjust the font size if needed */
    color: rgba(0, 0, 0); /* Ensure the text color is visible */
    width: 100%;
}
@keyframes marquee {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(calc(80vw - 80%));
    }
}
@keyframes marquee-reverse {
    0% {
        transform: translateX(calc(80vw - 80%));
    }
    100% {
        transform: translateX(-20%);
    }
}
footer {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px 40px; /* Increase padding for more space */
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
}
.footer-content {
    max-width: 1200px;
    font-family: 'Canela-Regular', serif;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.footer-logo img {
    width: 250px; /* Adjust size as needed */
    height: auto;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px; /* Add margin between columns */
}
.footer-column h3 {
    margin-bottom: 15px;
    font-size: 2em;
}
.footer-column a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 1.5em; /* Increase the font size for links */
}
.footer-column a:hover {
    text-decoration: underline;
}
.footer-column a i {
    font-size: 1.5em; /* Adjust icon size as needed */
    margin-right: 10px; /* Space between icon and text */
}
.footer-bottom {
    font-family: 'Canela-Regular', serif;
    font-size: 2em;
}
/* this one is where i need to add the text */
.footer-end {
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 21em; /* Adjust icon size as needed */
    font-family: 'Canela-Regular', serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items */
    justify-content: center; /* Center the items */
}
.footer-end p {
    margin: 10px 0;
    font-size: 1.2em; /* Increase the font size for the copyright text */
}
.line-in-middle {
    width: 100%; /* Ensure the line spans the full width */
    max-width: 1200px; /* Set a maximum width for the line */
    height: 1px;
    background: linear-gradient(to right, transparent 0%, transparent calc(50% - 0.81px), white calc(50% - 0.8px), white calc(50% + 0.8px), transparent calc(50% + 0.81px), transparent 100%);
    margin: 20px auto; /* Center the line horizontally */
}
/* New class for navbar background when scrolled */
.scrolled {
   background-color: rgba(255, 255, 255, 1); /* White background */
}
nav.scrolled ul li a {
   color: black !important; /* Black text when scrolled */
}
nav.scrolled ul li a:hover {
   color: #406D1C !important; /* Green color on hover */
   text-decoration: underline !important; /* Add underline on hover */
}
/* Specific rule to ensure the no-underline class overrides the scrolled class */
nav.scrolled ul li a.no-underline:hover {
   text-decoration: none !important;
}
nav.scrolled ul li a.no-color-change, nav.scrolled ul li a.no-color-change:hover {
   color: black !important; /* Ensure the color remains black when scrolled */
}
