body {
    font-family: 'Courier New', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
    background: url("https://raw.githubusercontent.com/turbomoisty/okay_Bloomer/8e31ce19f4045a22fc3853f4a3819d390bf362d0/OB/images/obhomepage3.jpeg") no-repeat center top;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh; /* Adjust height as needed */
}

header::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(29, 86, 49, 0.89);  /* Adjust the color and transparency here */
   z-index: 1; /* Ensure the overlay is above the background image but below the content */
   pointer-events: none; /* Prevent overlay from interfering with interactions */
}

.header-text {
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 2;
    width: 80%;
    padding-top: 40px;
}

.header-text h1 {
    font-size: 17em; /* Adjust to be responsive */
    padding-top: 20px;
    font-family: 'Canela-Regular', serif;
    margin: 0;
}

.header-text p {

    font-size: 4em; /* Adjust to be responsive */

    font-family: 'Canela-Regular', serif;
    margin-top: 20px;
}

nav {
    box-sizing: border-box;
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 40px;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul.nav-left {
    justify-content: flex-start;
    flex-grow: 1;
}

nav ul.nav-right {
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    transition: color 0.3s ease, border-bottom 0.3s ease;

    font-family: Nib, serif;
    font-weight: 400;
    line-height: 2;
    font-size: 1.5vw; /* Adjust to be responsive */
    position: relative;
}

nav ul li a:hover {
    border-bottom: 2px solid green;
}

.special-font {
    color: white !important;
    text-decoration: none !important;
}

.special-font:hover {
    color: white !important;
    text-decoration: none !important;
}

.scrolled .special-font {
    color: black !important;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.intro-text {
    position: relative;
    text-align: left;
    max-width: 800px;
    margin: 20px 0;
    padding: 50px;
    width: 90%; /* Adjust to be responsive */
    height: 100vh; /* Full screen size */
}

.intro-text .intro-heading {
    font-size: 1.5em;
    font-family: 'Canela-Regular', serif;
    margin: 20px 0;
}

.intro-text .intro-subheading {
    font-size: 2em; /* Adjust to be responsive */
    font-family: 'Canela-Regular', serif;
    font-weight: normal;
    margin: 20px 0;
}

.intro-text .intro-description {
    font-size: 2em; /* Adjust to be responsive */
    font-family: 'Canela-Regular', serif;
    margin: 20px 0;
}

.intro-text button {
    font-size: 1.5em;
    padding: 15px 30px;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mission {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh; /* Ensure the section takes the full height */
    background-color: rgba(192, 224, 192, 0.89);

    margin-bottom: 100px;
    padding: 20px;
    justify-content: space-between;
}

.mission-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 100px;
}

.mission-text {
    flex: 1;
    width: 100%;
    text-align: center;
    padding-right: 20px;
    margin-bottom: 20px;

}

.mission-text p {
    font-size: 1.2em;
    font-family: 'Courier New', sans-serif;
    margin-bottom: 10px;
}

.mission-text h2 {
    font-size: 2.5em;
    font-family: 'Canela-Regular', serif;
    margin-bottom: 20px;

}

.mission-text button {
    font-size: 1.5em;
    padding: 15px 30px;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mission-text button:hover {
    background-color: rgba(0, 0, 0);
    color: white;
}

.mission-image {
    flex: 1;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.mission-image img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
}

.marquee-container, .marquee-reverse-container {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 0px; /* Adjust the gap as needed */
    justify-content: center;
    position: relative; /* Remove any bottom margin to decrease gap */
}

.marquee, .marquee-reverse {
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 6s linear infinite; /* Increased duration for slower animation */
    font-size: 120px; /* Adjust to be responsive */
    color: rgba(0, 0, 0);
    width: 100%;
}

@keyframes marquee {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(calc(80vw - 80%));
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(calc(80vw - 80%));
    }
    100% {
        transform: translateX(-20%);
    }
}

.marquee-reverse {
    animation: marquee-reverse 30s linear infinite; /* Use a separate animation for reverse */
}

footer {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-content {
    max-width: 1200px;
    font-family: 'Canela-Regular', serif;
    margin: 0 auto;
    padding: 20px 0;

}

.footer-bottom {
    font-family: 'Canela-Regular', serif;
    font-size: 2.5em;
    align-items: center;
    width: 100%;
}

.footer-end {
    width: 100%;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    font-family: 'Canela-Regular', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-end p {
    margin: 10px 0;
    font-size: 1em; /* Adjusted font size for better readability */
    white-space: nowrap; /* Prevents text from wrapping */

    justify-content: center;
    box-sizing: border-box;
}

.footer-end p {
    margin: 10px 0;
    font-size: 11.5em;
}

.line-in-middle {
    width: 100%;
    height: 1px;
    margin: 20px auto;
    box-sizing: border-box;
}

.scrolled {
    background-color: rgba(255, 255, 255, 1);
}

nav.scrolled ul li a {
    color: black !important;
}

nav.scrolled ul li a:hover {
    color: #406D1C !important;
    text-decoration: underline !important;
}

nav.scrolled ul li a.no-underline:hover {
    text-decoration: none !important;
}

nav.scrolled ul li a.no-color-change, nav.scrolled ul li a.no-color-change:hover {
    color: black !important;
}

@media (max-width: 1200px) {
    .header-text h1 {
        font-size: 5vw;
    }
    .header-text p {
        font-size: 2vw;
    }
    .intro-text {
        padding: 20px;
    }
    .services-title {
        font-size: 2em;
    }
    .service-block p {
        font-size: 1em;
    }
    .mission-text h2 {
        font-size: 2em;
    }
    .marquee, .marquee-reverse {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .header-text h1 {
        font-size: 4vw;
    }
    .header-text p {
        font-size: 2vw;
    }
    nav ul li a {
        font-size: 1em;
    }
    .services-grid {
        grid-template-columns: 1fr;
    }
    .mission-text h2 {
        font-size: 1.8em;
    }
    .marquee, .marquee-reverse {
        font-size: 2.5vw;
    }
}

@media (max-width: 480px) {
    .header-text h1 {
        font-size: 3.5vw;
    }
    .header-text p {
        font-size: 1.8vw;
    }
    nav ul li a {
        font-size: 0.8em;
    }
    .intro-text {
        padding: 10px;
    }
    .services-title {
        font-size: 1.5em;
    }
    .service-block p {
        font-size: 0.9em;
    }
    .mission-text h2 {
        font-size: 1.5em;
    }
    .marquee, .marquee-reverse {
        font-size: 2vw;
    }

}

.line-in-middle {
    width: 100%;
    height: 1px;
    margin: 20px auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-bottom {
        font-size: 2em; /* Adjust font size for smaller screens */
    }
    .footer-end p {
        font-size: 0.9em; /* Adjust font size for better readability on smaller screens */
    }
}

.scrolled {
    background-color: rgba(255, 255, 255, 1);
}

nav.scrolled ul li a {
    color: black !important;
}

nav.scrolled ul li a:hover {
    color: #406D1C !important;
    text-decoration: underline !important;
}

nav.scrolled ul li a.no-underline:hover {
    text-decoration: none !important;
}

nav.scrolled ul li a.no-color-change, nav.scrolled ul li a.no-color-change:hover {
    color: black !important;
}

@media (max-width: 1200px) {
    .header-text h1 {
        font-size: 5vw;
    }
    .header-text p {
        font-size: 2vw;
    }
    .intro-text {
        padding: 20px;
    }
    .services-title {
        font-size: 2em;
    }
    .service-block p {
        font-size: 1em;
    }
    .mission-text h2 {
        font-size: 2em;
    }
    .marquee, .marquee-reverse {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .header-text h1 {
        font-size: 4vw;
    }
    .header-text p {
        font-size: 2vw;
    }
    nav ul li a {
        font-size: 1em;
    }
    .mission-text h2 {
        font-size: 1.8em;
    }
    .marquee, .marquee-reverse {
        font-size: 2.5vw;
    }
}

@media (max-width: 480px) {
    .header-text h1 {
        font-size: 3.5vw;
    }
    .header-text p {
        font-size: 1.8vw;
    }
    nav ul li a {
        font-size: 0.8em;
    }
    .intro-text {
        padding: 10px;
    }
    .services-title {
        font-size: 1.5em;
    }
    .service-block p {
        font-size: 0.9em;
    }
    .mission-text h2 {
        font-size: 1.5em;
    }
    .marquee, .marquee-reverse {
        font-size: 2vw;
    }
}


