
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', sans-serif;
    background-color: #DfE1be

}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;}


 nav ul li.right{
    float: right;
}

.container {
    margin: 20px;
}

.plant-details, .journal-entry, .previous-entries {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
}

.image-upload {
    margin-bottom: 10px;
}

#save-entry, #back-to-plant {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
}

.previous-entries .entry {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.previous-entries .entry a {
    display: block;
    margin-top: 5px;
    color: blue;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .links a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}
