<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>About_us</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='about_us.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul class="nav-left">
                <li class="nav-name"><a class="no-underline no-color-change special-font" href="{{url_for('views.main_page')}}" data-text="okayBloomerNavName">okaybloomer</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="{{ url_for('views.main_page') }}" data-text="Home">Home</a></li>
                <li><a href="{{url_for('views.about_us')}}" data-text="About">About</a></li>
                <li><a href="" data-text="Care Tips">Care Tips</a></li>
                <li><a href="" data-text="Services">Services</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('views.comments_board')}}" data-text="comments_board">Forums</a> </li>
                    <li><a href="{{ url_for ('views.watering_schedules') }}" data-text="Your Schedules">Your Schedules</a></li>
                    <li class="user-info">Hello {{ current_user.userName }}!</li>
                    <li><a href="{{ url_for('auth.logout') }}" data-text="Logout">Logout</a></li>
                {% else %}
                    <li> <a href="{{url_for('views.rewards') }}" data-text="Your Schedules">Your Schedules</a></li>
                    <li><a href="{{url_for('auth.login_page')}}" data-text="Login/Sign Up">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section>
        <section class="parallax-1">
            <div class="parallax-inner">
                <h1>About Us</h1>
            </div>
        </section>
        <h2> Who we are</h2>
        <p>
            In this project, our main goal is to create a comprehensive plant care assistant
            that simplifies plant care routines and fosters a sense of community among plant enthusiasts.
            This platform will offer a range of features, from customizable care routines to automated notifications and growth tracking capabilities.
            By developing Okay Bloomer, we aim to provide plant enthusiasts with a one-stop solution for all their plant care needs.
            It will empower users to effortlessly manage their plant profiles, receive timely reminders for care activities, and share the growth progress of their plants with others.
            To achieve this goal, we've established a collaborative team effort.
            We're leveraging the strengths of each team member and supporting one another where we might have weaknesses.
            By doing so, we aim to create a well-rounded and efficient project development process.</p>
        <section class="parallax-2">
            <div  class="parallax-inner">
                <h1>Our commitments</h1>
            </div>
        </section>
        <h2> Some Text</h2>
        <p>
            <!-- Replace text with something else -->
            In this project, our main goal is to create a comprehensive plant care assistant
            that simplifies plant care routines and fosters a sense of community among plant enthusiasts.
            This platform will offer a range of features, from customizable care routines to automated notifications and growth tracking capabilities.
            By developing Okay Bloomer, we aim to provide plant enthusiasts with a one-stop solution for all their plant care needs.
            It will empower users to effortlessly manage their plant profiles, receive timely reminders for care activities, and share the growth progress of their plants with others.
            To achieve this goal, we've established a collaborative team effort.
            We're leveraging the strengths of each team member and supporting one another where we might have weaknesses.
            By doing so, we aim to create a well-rounded and efficient project development process.</p>

    </section>

</body>
    <script src="{{ url_for('static', filename='about_us.js')}}"></script>
</html>