<!--{% extends 'base.html' %}-->

<!--{% block title %}Create Post{% endblock %}-->

<!--{% block content %}-->
<!--<section class="post-creation">-->
<!--    <h2>Create a Post</h2>-->
<!--    <form method="POST" action="{{ url_for('views.create_post') }}">-->
<!--        <input type="text" name="title" placeholder="Post Title" required>-->
<!--        <textarea name="content" placeholder="Write your post here..." required></textarea>-->
<!--        <button type="submit">Post</button>-->
<!--    </form>-->
<!--</section>-->
<!--{% endblock %}-->
