<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login and user registration for Okay Bloomer</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='login_page.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('views.main_page')}}">Home</a></li>
                <li><a href="{{url_for('views.about_us')}}">About</a></li>
                <li><a href="{{url_for('views.under_construction')}}">Services</a></li>
                <li><a href="{{url_for('views.watering_schedules')}}">Schedules</a></li>
                {% if session.get('logged_in') %}
                    <li class="right">Hello {{ session.get('bloomerUser') }}!</li>
                    <li class="logout"><a href="{{ url_for('auth.logout') }}">Logout</a> </li>
                {% else %}
                <li><a href="{{url_for('auth.login_page')}}">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="wrapper-alert">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes" id="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}" data-message="{{ message }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form action="{{url_for('auth.login_page')}}" method="POST">
                <input type="hidden" name="form_type" value="login">
                <h2> login</h2>
                <div class="input-group">
                    <input type="text" name="userName" required>
                    <label for="userName">Username</label>
                </div>
                <div class="input-group">
                    <input type="password" name="userPassword" required>
                    <label for="userPassword">Password</label>
                </div>
                <div class="remember">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit">Login</button>
                <div class="signUp-link">
                    <p> Don't have an account with us?<a href="#" class="signInButton-link">
                        Sign up</a>
                    </p>
                </div>
            </form>
        </div>



        <div class="form-wrapper sign-up">
            <form action="{{ url_for('auth.login_page')}}" method="POST">
                <input type="hidden" name="form_type" value="signup">
                <h2>Sign Up</h2>
                <div class="input-group">
                    <input type="text" name="userName" required>
                    <label for="userName">Username</label>
                </div>
                <div class="input-group">
                    <input type="email" name="userEmail" pattern="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}" required/>
                    <label for="userEmail">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="userPassword" required>
                    <label for="userPassword">Password</label>
                </div>
                <div class="remember">
                    <label><input type="checkbox" required> I forfeit all my rights and agree to the terms.</label>
                </div>
                <button type="submit">Sign up</button>
                <div class="signUp-link">
                    <p>Already have an account?<a href="#" class="signUpButton-link">
                        Sign in</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <script src="{{url_for ('static', filename='login_page.js')}}"></script>
</body>
</html>