
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='watering_schedules.css')}}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('views.main_page') }}">Home</a></li>
                <li><a href="{{ url_for('views.about_us') }}">About</a></li>
                <li><a href="{{ url_for('views.under_construction') }}">Services</a></li>
                {% if session.get('logged_in') %}
                    <li><a href="{{ url_for('views.watering_schedules')}}">Schedules</a></li>
                    <li style="color:#85FF00;"> Hello {{ session.get('bloomerUser') }}! </li>
                    <li class="logout"><a href="{{url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{url_for('views.rewards') }} ">Schedules</a></li>
                    <li class="right"><a href="{{ url_for('auth.login_page') }}">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        <header>
            {%if session.get('logged_in') %}
            <h2>{{session.get('bloomerUser')}}'s Plant profile</h2>
            {% endif %}
        </header>
        <section class="profile">
            <div class="user-info">
                <h2>User Name</h2>
                <p>Welcome to your plant care profile!</p>
            </div>
            <div class="plant-info">
                <h3>Selected Plants</h3>
                <ul id="plant-list">

                </ul>
                <form action="/add-plant" method="post">
                    <input type="text" name="plant_name" placeholder="Add your plant!" required>
                    <button class="add-plant">Add Plant</button>
                </form>
            </div>
        </section>
        <section class="watering-schedule">
            <h3>Watering Schedule</h3>
            <ul id="scheduling-list">

            </ul>
            <form action ="/add-schedule" method="post">
                <input type="text" name="plant_name" placeholder="Your plant name" required>
                <input type="text" name="scheduling_interval" placeholder="Your watering schedule" required>

                <button class="update-schedule">Update Schedule</button>
            </form>

        </section>
        <section class="comment-log">
            <h3>Comment Log</h3>
            <ul id="comment-list">

            </ul>
            <form action="comment-form" method="post" class="comment-form">
                <textarea placeholder="Add a comment..."></textarea>
                <button type="submit">Post Comment</button>
            </form>
        </section>
        <section class="image-upload">
            <h3>Image Upload</h3>
            <form class="upload-form">
                <input type="file" accept="image/*">
                <button type="submit">Upload Image</button>
            </form>
        </section>
    </div>
</body>
</html>


























